# Node.js Frontend ignores (for react-frontend)
/react-frontend/node_modules/
/react-frontend/build/
/react-frontend/.env
/react-frontend/package-lock.json

# Python Backend ignores (for fastapi-backend)
/fastapi-backend/__pycache__/
/fastapi-backend/venv/
/fastapi-backend/.env
/fastapi-backend/*.db

# General OS and Editor ignores
.DS_Store
.env # For a root .env file if it exists
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/